
.top{
  width: 100%;
  background: #0593d3;
}
.topNav{
  float: left;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-size: 24px;
}
.topNavLeft{
  padding: 0 20px;
}
.topNavRight{
  margin: 0;
}
.topNavRight li{
  float: left;
  padding: 0 20px;
  font-size: 14px;
}
.loginBtn{
  float: right;
  margin-top: 7px;
  margin-right: 10px;
}

.loginInput{
  margin: 10px 0;
}

.userAvatar{
  float: right;
}

.userAvatar img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 2px 10px 0 0;
}
.userAvatar .userSpan{
  line-height: 48px;
  margin-right: 10px;
  color: #fff;
}
.userAvatar .logoutBtn{
  cursor: pointer;
  line-height: 48px;
  height: 48px;
  color: #fff;
  margin-right: 10px;
}
